@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Satisfy);


/* General */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.width100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

/* General end*/


/* Demo */
.hd1 {
  margin-top: 15vh;
  font-size: 50px;
  font-weight: 100;
}

.powered {
  font-size: 17px;
  margin-top: 20px;
}

.powered img {
  width: 110px;
  position: relative;
  top: 8px;
}

.footer {
  margin-top: 50px;
  position: absolute;
  bottom: 40px;
  width: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.foo-txt {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Satisfy', cursive;
  text-shadow: none;
  color: #272727;
}

.fa-heart {
  color: #fb2323;
}
/* Demo end */



/* MyBot */
mybot.center .chatCont,
mybot.center .profile_div {
  left: 0;
  right: 0;
  margin: 0 auto;
}

mybot.left .chatCont,
mybot.left .profile_div {
  left: 0;
}

mybot .chatCont {
  position: fixed;
  width: 400px;
  height: 400px !important;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  bottom: 65px;
  right: 0;
  background: #efe7dd url(../img/bg2.png) repeat;
  border-top-left-radius: 3px;
  z-index: 10000;
  display: none;
}

mybot .close {
  position: absolute;
  right: 15px;
  margin-top: -60px;
  color: #fc5151;
  font-size: 28px;
  cursor: pointer;
}

mybot .bot_profile {
  position: absolute;
  right: 0;
  margin-top: -45px;
  text-align: center;
  width: 400px;
  display: none;
  z-index: 1000;
  border-radius: 0.5em ;
}

mybot .bot_p_img {
  position: relative;
  top:-30;
  width: 80px;
  border-radius: 10%;
  background: #fff;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12);
}

mybot .chatForm {
  position: absolute;
  bottom: -65px;
	right: 0;
	margin-bottom: 0;
	width: 400px;
  display: none;
}

mybot .bot-txt,
mybot .bot-txt:focus {
  box-shadow: none;
  border-radius: 0;
  height: 66px;
  border: 0;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
}

mybot .resultDiv .botResult {
  background: #f7f7f7;
  color: #000;
  border-radius: 3px;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  width: 80%;
  float: left;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  border-top-left-radius: 0;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 55px;
  position: relative;
  word-wrap: break-word;
  border-radius: 1em ;
}

mybot .resultDiv .botResult:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #ffffff;
  left: -15px;
  margin-top: -12px;
  border-radius: 1em ;
}

mybot .resultDiv .userEnteredText {
  background: #94ebcd;
  float: right;
  color: #000000;
  border-radius: 3px;
  padding: 12px;
  font-size: 15px;
  font-weight: 400;
  width: 68%;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  border-top-right-radius: 0;
  position: relative;
  left: 1px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 50px;
  word-wrap: break-word;
  border-radius: 1em ;
}

mybot .resultDiv .userEnteredText:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #94ebcd;
  position: absolute;
  right: -15px;
  margin-top: -10px;
  margin-bottom: -10px;
  border-radius: 1em ;
}

mybot .profile_div {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 240px;
  cursor: pointer;
  border-radius: 1em ;
}

/* mybot .profile_div:hover {

} */

mybot .img-profile {
  width: 65px;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12);
  background: white;
  border-radius: 50px;
}

mybot .col-hgt {
  height: 100px;
  display: flex;
  align-items: center;
  float: left;
  margin-right: 10px;
}

mybot .chat-txt {
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16),0 0px 10px 0 rgba(0,0,0,0.12);
  padding: 15px 15px;
  border-radius: 50px;
}

/* Spinner start */
mybot .spinner {
  background: #7bffa3;
  width: fit-content;
  text-align: center;
  display: none;
  border-radius: 4px;
  position: relative;
  top: -7px;
  left: 19px;
  padding: 7px 10px;
  border-top-left-radius: 0;
  border-radius: 1em ;
}

mybot .spinner:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #79ffa1;
  left: -15px;
  margin-top: -7px;
  border-radius: 1em ;
}

mybot .spinner > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin-right: 5px;
}

mybot .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

mybot .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* Spinner End */


/* Suggestions */
mybot .suggestion {
  background: #fff;
  color: #000;
  border-radius: 3px;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  width: 400px;
  float: left;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.16), 0 0px 10px 0 rgba(0,0,0,0.12);
  margin-left: 5px;
  border-top-left-radius: 0;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

mybot .suggestion:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #fff;
  left: -15px;
  margin-top: -12px;
}

mybot .suggestion .sugg-options {
  display: block;
  background: #ffffff;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
}

mybot .suggestion .sugg-title {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

mybot .suggestion span:last-child {
  margin-bottom: 0;
}
/* Suggestions end */

.resultDiv {
  padding: 35px 20px 30px 20px;
  overflow-y: auto;
  border-radius: 1em ;
  height: 100%;
}
.resultDiv::-webkit-scrollbar {
  width: 12px;
}

.resultDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.resultDiv::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


@media screen and (max-width: 500px) {
  mybot .resultDiv .userEnteredText,
  mybot .resultDiv .botResult,
  mybot .suggestion {
    width: fit-content;
    margin-bottom: 20px;
    border-radius: 1em ;

  }
  mybot .chatCont,
  mybot .chatForm {
    width: 100%;
    border-radius: 1em ;
  }
  mybot .chatCont {
    height: 70% !important;
    border-radius: 1em ;
  }
}

.btn_sty {
 display:absolute;
 transition: all 0.2s;
 padding: 0.5em 1.2em;
 margin: 0 0.3em 0.3em 0;
 border-radius: 1em ;
 box-sizing: border-box;
 text-decoration: none;
 font-family: "Roboto",sans-serif;
 font-weight: 400;
 color: #000000;
 background-color: #76bdff;
 text-align: center;
 transition: all 0.2s;
 outline: none;
}
.link-button{
  display:absolute;
  transition: all 0.2s;
  padding: 0.5em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em ;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  color: #000000;
  width: 250px;
  background-color: #ecfc61;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
  outline: none;
}

.btn_sty:hover {
  background-color:#9fdcff;
}

#result_div {
  display: block;
  border-radius: 1em ;
  width: 100%;
}

#chat-input {
  position: relative;
  border-radius: 1em ;
  height: 50px;
  border: 1px solid #ffbc58 ;
  bottom: 10px;
}

/* MyBot end */
